<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <%- include("blocks/header"); %>
    <link rel="stylesheet" href="styles/index.css">
    <div class="blocks">
        <div class="block dark-block topics-block mt-5 p-3">
            <div class="topics-ul">
                <h3>Новые статьи</h3>
                <ul class="main-ul" style="list-style-type: none; padding-left: 0;">
                    <% articles.forEach(article => { %>
                        <%
                            let year = article.date.getFullYear()
                            let month = article.date.getMonth()
                            let day = article.date.getDate()
                            let hours = article.date.getHours()
                            let minutes = article.date.getMinutes()
                            if (month < 10) {
                                month = "0" + month.toString()
                            } if (day < 10) {
                                day = "0" + day.toString()
                            } if (hours < 10) {
                                hours = "0" + hours.toString()
                            } if (minutes < 10) {
                                minutes = "0" + minutes.toString()
                            }
                            let date = `${day}.${month}.${year} ${hours}:${minutes}`
                        %> 
                        <li class="topic-link"><span><a href="/article/id-<%-article.id%> "><%-article.title%></a> (<a href="/<%- article.user %>"><%- article.user %></a>)</span> <span><%-date%> | <%-article.views%> Просмотров</span></li>
                    <% }); %> 
                </ul>
            </div>
        </div>
    </div>
</body>
</html>